/*body{
background-image: url("1.jpg");
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
background-size: cover;

}
*/
body{
	margin: 0;
}

.background-image{
	background-image: url("7ccZ.gif");
	padding: : 20%;
	background-repeat: no-repeat;
	background-size: 100%;

}


.image3{

	background-image: url("https://livedemo00.template-help.com/wt_57640/images/page-1_bg01.jpg");
	padding: 15%;
	background-repeat: no-repeat;
	padding: 147px 147px 0px 147px;

}





.nav{
	text-align: center;
	width: 5%;
    margin: 0;
	
    position: relative;
    left: 37%;
    border-radius: 50%;
    /*position: absolute;
    top: -260px;
    left: -10px;*/


/*	position:relative;
	left: 50%;*/
}
.nav li{
	list-style: none;
	display: inline-block;
	padding: 30px;
	border: 55px solid blue;
	border-radius: 50%;
	background-color: blue;
	z-index: 1;
}
.nav a  {
	text-decoration: none;
	color: white;
	font-weight: 700;
	z-index: 1;
}
.menu{
	text-align: center;
    margin: 0; /* Обнуляем значение отступов */
    padding: 20%; /* Значение полей */

}
.menu img {
	height:176px; 
	width:176px;
	border-radius: 50%;
}
.menu li{
	opacity: 1;
	display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    padding: 3px; /* Поля вокруг текста */
    
	}
.hav {
	text-align: center;
	background-color: #00000073;
	margin: 0;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 2;
	margin-block-end:0;

}
.background-image2{
	background-color: #7b7e7f;
	padding: 3%;

}

.hav a {	
	color:white;
	text-decoration: none;
	text-transform: uppercase;
	size: 150%;
	text-shadow: 3px  2px 3px black;
	font-size: x-large;



}
.hav li{
	display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    padding: auto; /* Поля вокруг текста */
    text-align: center;
    text-decoration: none;
   
    margin: 4%;


}
.hav li:hover {
	background-color:#00000073   ;
	padding: 0;
	
	


}
.hav li a:hover {
	color: aqua;
	text-shadow: 2px 2px 3px aqua ;
}

.News {
	color: white;
	font-size: 31px;
	line-height: 1.2;
    text-transform: uppercase;
	text-align: center;

}

.texxt{
	box-sizing: border-box;
	color: #c9cccd;
	text-transform: uppercase;
	font-size: 10px;
	text-align: center;
}
.texxt p{
	font-size: large;
	color: black;
}
.texxt h3{
	font-size: x-large;
	color: white;
}
.opus{
	display: flex;
	
}
.opus div{
	padding: 3%;
}

.grid{

	display: grid;
	grid-template-columns:50% 50%;
	margin: 5%
}
.grid p{
	color: black; 	
	font-size: large;
}
.grid h3{
	font-size: x-large;
	color: gold;
}

.list{
	display: inline-block;
	box-sizing: border-box;
	color: #c9cccd;
	text-transform: uppercase;
	font-size: 10px;
	text-align: left;
	list-style-type: none;
}
.knopka{
	text-align: center;
	text-decoration: none;
	padding: 3%;

}
.more{
	position: relative;
    z-index: 1;
    color: #ffffff;
    background-color: #49c3e9;
    border-color: #49c3e9;
    display: inline-block;
    font-weight: 300;
    cursor: pointer;
    border: 1px solid transparent;
    outline: none;
    padding: 15px 22px;
    font-size: 23px;
    line-height: 19px;
    border-radius: 0;
    text-decoration: none;
}
.grid2 img{
	
	margin: 2%;
}
.grid2{
	display: grid;
	grid-template-columns:33% 33% 33%;
	text-align: center;
	margin-left: 10%;
	margin-right:10%;
}
.progres{
	text-align: center;
	overflow: hidden;
    height: 9px;
    background-color: #d6d5d5;
    border-radius: 0;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.lead{
	font-size: 22px;
    color:white;
    font-weight: 500;
    text-align: center;
}
.row p{
	text-align: center;
	letter-spacing;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.6;
    color: #7b7e7f;
}
.text{
	text-align: center;
	margin-left: 30%;
	margin-right:30%;
}
.zoom{
	color: white;
	font-size: 200px;
	line-height: 1.2;
    text-transform: uppercase;
	text-align: center;
	margin: 0;
	padding:0;
}
.more2{
	display: inline-block;
    color: #49c3e9;
    font-weight: 400;
    border-radius: 0;
    font-size: 14px;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
}
.container{
	margin: 0;
}
.container h2{
	color: silver;
	text-align: center;
	font-size: 50px;
    line-height: 1.2;
    text-transform: uppercase;
}
.text_xzxz{
	display:grid;
	grid-template-columns: 25% 25% 25% 25%;
	color: silver;
	margin: 0
}

@media screen and (max-width: 1350px) {
	.grid2 {
		display: grid;
		grid-template-columns: 50% 50%;

	}
	.opus{
		display: none;

	}
	.grid{
		display: grid;
		grid-template-columns: 100%;
	}
	.nav{
		text-align: center;
	}
	.menu{
	text-align: center;
    margin: 0; /* Обнуляем значение отступов */
    padding: 10%; /* Значение полей */

}
}
